@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}
